.full-w-container {
    background-color: #f5f5f5;
    position: relative;
    min-width: 1200px;
}

.nav-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    color: var(--color-third);
    cursor: default;
}

.nav-item:hover {
    background-color: var(--white);
}

.nav-item:hover span {
    color: var(--color-primary);
    background-color: var(--white);
}

.nav-item span {
    position: relative;
    padding: 0 22px;
}

/* .nav-item span::before {
    content: '';
    left: 0;
    position: absolute;
    z-index: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background-color: var(--border-color);
} */

/** ------ NAV MENU CONTAINER ------ **/
.nav-menu-container {
    display: flex;
    position: absolute;
    top: 56px;
    left: 0;
    width: 1200px;
    min-width: 1200px;
    /* visibility: hidden; */
    display: none;
    background-color: transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    z-index: 5;
}

/** ------ DROPDOWN MENU (Electronic) ------ **/

.navbar-dropdown {
    /* visibility: visible; */
    visibility: hidden;
}

.nav-item:hover .navbar-dropdown {
    visibility: visible;
}

.nav-item:hover .nav-menu-container {
    display: flex;
}

.nav-item:hover + .nav-menu-container {
    visibility: visible;
}

.overlay {
    position: absolute; /* parent full-w-container */
    visibility: hidden;
    opacity: 1;
    z-index: 2;
    top: 58px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #0006;
    /* transition: all 0.2s linear; */
}

.nav-container:has(.nav-items .nav-item:hover) + .overlay {
    visibility: visible;
}

.navbar-dropdown-items {
    background-color: var(--white);
    border-bottom-left-radius: 8px;
    /* border-bottom-right-radius: 8px; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    min-width: 21%;
}

.navbar-dropdown-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    min-height: 35px;
}

.navbar-dropdown-item:hover {
    color: var(--color-primary);
    cursor: pointer;
}

/** ------ NAVBAR MENU LINKS ------ **/
.navbar-menu-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--white);
}

.navbar-menu-column {
    display: flex;
    flex: 1;
}

.navbar-menu-link-item {
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    min-width: 200px;
}

.navbar-menu-link-header {
    font-size: 15px;
    text-align: left;
    color: var(--color-primary);
}

.navbar-menu-link-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
}

.navbar-menu-link {
    color: var(--color-secondary);
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-right: 3px;
    word-wrap: break-word;
}

.nav-menu-flex-column {
    flex-direction: column;
    gap: 3px;
}

.navbar-menu-link:hover {
    color: var(--color-primary);
}

/** ------ BANNERS ------ **/

.banner-grid {
    background-color: var(--white);
    max-width: 40%;
    padding: 10px;
}

.banner-grid-item {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}

.banner-grid-12 {
    width: calc(50% - 10px);
}

.banner-grid-item img {
    border-radius: 8px;
    width: 100%;
}
