.footer-global {
    margin-top: 90px;
}

.footer-upper {
    width: 100%;
    max-width: 1200px;
}

.footer-header {
    display: flex;
    align-items: center;
    min-width: 1200px;
    justify-content: space-between;
}

.footer-header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex: 1;
}

.footer-features-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.footer-features-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-header-link {
    color: var(--link-color);
    font-size: 14px;
    font-weight: 700;
}

.footer-feature-title {
    color: var(--color-secondary);
    max-height: 50px;
    min-height: 40px;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

.footer-feature-logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 161px;
}

/* .footer-feature-logo-container::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: #eeebeb;
} */

.footer-feature-logo {
    width: 100%;
    max-width: 127px;
    margin: 0 auto;
}

.footer-feature-text {
    font-size: 14px;
    color: var(--black);
    font-weight: 400;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
    padding: 10px 40px 0;
    text-align: center;
}

.footer-seo-view {
    color: rgba(51, 51, 51, 0.9);
    font-family: Helvetica;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 22px 15px;
    min-width: 1200px;
    border-top: 2px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.footer-seo-container :where(h1, p) {
    margin-bottom: 10px;
}

.footer-seo-title {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
}

.footer-seo-show {
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

/* ------ FOOTER LINKS ------*/

.footer-links {
    display: flex;
}

.footer-links-left {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    column-gap: 10px;
}

.footer-links-right {
    flex: 2;
    display: grid;
    grid-template-columns: 55% 45%;
    padding-left: 10px;
    column-gap: 10px;
}

.footer-link-list {
    list-style: none;
    padding: 20px 0;
    margin-bottom: 5px;
}

.footer-link-list li {
    margin-top: 4px;
}

.footer-link-title {
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-secondary);
}

.footer-link-item {
    color: var(--link-color);
    font-size: 12px;
    font-weight: 700;
}

.footer-link-item:hover {
    color: var(--color-third);
}

.social-icon {
    background-color: var(--link-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.social-icon svg {
    fill: var(--white);
    height: 14px;
    width: 14px;
}

.footer-solution-title {
    text-align: center;
    padding: 0 16px 16px;
}

.solution-center {
    margin-bottom: 32px;
}

.solution-link {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-webkit-radius: 5px;
    zoom: 1;
    width: 100%;
    height: 32px;
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--border-color-2);
    border: 1px solid var(--border-color-2);
}

.solution-link:hover {
    color: var(--color-third);
}

.solution-or {
    position: relative;
    display: block;
    text-align: center;
}

.solution-or span {
    padding: 0 16px;
    color: var(--border-color-2);
    background-color: var(--white);
    position: relative;
    z-index: 1;
}

.solution-or::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: rgba(218, 218, 218, 0.8);
}

.solution-call-text {
    display: block;
    padding-top: 16px;
    text-align: center;
    font-size: 13px;
    color: var(--color-secondary);
}

.solution-center-phone {
    display: block;
    margin-top: 4px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--color-secondary);
}

.app-list {
    padding: 20px 0;
    list-style: none;
}

.app-list li {
    height: 52px;
    margin-top: 4px;
}

.app-list li a {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-webkit-radius: 5px;
    zoom: 1;
    width: 175px;
    font-weight: 700;
    padding: 8px 12px;
    position: relative;
    overflow: hidden;
    text-align: left;
    max-height: 45px;
}

.app-list li a div {
    padding-left: 12px;
}

.app-list li a svg {
    font-size: 30px;
}

.app-list span {
    display: block;
    color: var(--very-light-pink);
    font-weight: 400;
    padding-top: 2px;
}

.footer-bottom {
    background-color: #f1f1f1;
    padding: 20px 0;
}

.footer-bottom-container {
    display: flex;
}

.footer-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.footer-bottom-left div {
    display: flex;
    gap: 20px;
}

.h-32 {
    display: inline-block;
    height: 32px;
}

.h-40 {
    display: inline-block;
    height: 40px;
}

.footer-bottom-left img {
    height: 100%;
}

.footer-bottom-right {
    flex: 3;
}

.credit-card-badges {
    display: flex;
    gap: 8px;
}

.footer-bottom-right-text {
    color: #333;
    padding-top: 16px;
    padding-left: 9px;
    line-height: 1.75em;
    font-size: 12px;
}

.footer-bottom-right-text span {
    color: var(--border-color-2);
}

@media screen and (max-width: 1024px) {
    .footer-links-left {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links-right {
        display: flex;
        flex-direction: column;
    }
}
