*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-primary: #ff6000;
    --color-secondary: #484848;
    --color-third: #646464;
    --border-color: #e5e5e5;
    --border-color-2: #919191;
    --cornflower: #6c84fa;
    --link-color: rgba(72, 72, 72, 0.6);
    --very-light-pink: #ccc;
    --white: #fff;
    --black: #000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: gainsboro; */
    min-width: 1200px;
}

.container-1200 {
    width: 1200px;
    margin: 0 auto;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.slider-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

.bold-700 {
    font-weight: 700;
}

.primary-text {
    color: var(--color-primary);
}

.secondary-text {
    color: var(--color-secondary);
}

.third-text {
    color: var(--color-third);
}

.white-text {
    color: var(--white);
}

.p-10 {
    font-size: 10px;
}
.p-12 {
    font-size: 12px;
}

.p-14 {
    font-size: 14px;
}

.p-15 {
    font-size: 15px;
}

.mt-72 {
    margin-top: 72px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.slick-prev::before {
    content: '' !important;
}

.slick-next::before {
    content: '' !important;
}
